@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to the Sacrament Meeting Planner</h1>
   </div>
    <div id="icons">*@
        @*<div>
            <a asp-area="" asp-controller="Hymn" asp-action="Index"><img src="~/hymns.jpg" alt="hymns">
            <p>Hymns</p></a>
        </div>*@
        <div style="max-width:20rem; max-height:20rem;">
            <a asp-area="" asp-controller="Sacrament" asp-action="Index">
        <img style="max-width:20rem; max-height:20rem;" src="~/sacrament.jpeg" alt="sacrament">
            <p>Sacrament</p></a>
        </div>
        <div style="max-width:20rem; max-height:20rem;">
            <a asp-area="" asp-controller="Member" asp-action="Index">
                <img style="max-width:20rem; max-height:20rem;" src="~/member.jpg" alt="members">
                <p>Members</p></a>
        </div>