@page
@model SacramentPlanner.Pages.Meetings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meeting</h4>
<hr />
<div class="container">
<form method="post">

    <div class="row justify-content-end">
        <div class="col col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meeting.Id" />
            <div class="form-group">
                <label asp-for="Meeting.Date" class="control-label"></label>
                <input asp-for="Meeting.Date" class="form-control" />
                <span asp-validation-for="Meeting.Date" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Meeting.Conductor" class="control-label"></label>
                <input asp-for="Meeting.Conductor" class="form-control" />
                <span asp-validation-for="Meeting.Conductor" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Meeting.OpeningHymn" class="control-label"></label>
                <input asp-for="Meeting.OpeningHymn" class="form-control" />
                <span asp-validation-for="Meeting.OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Meeting.SacramentHymn" class="control-label"></label>
                <input asp-for="Meeting.SacramentHymn" class="form-control" />
                <span asp-validation-for="Meeting.SacramentHymn" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Meeting.IntermediateHymn" class="control-label"></label>
                <input asp-for="Meeting.IntermediateHymn" class="form-control" />
                <span asp-validation-for="Meeting.IntermediateHymn" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <input asp-for="Meeting.OpeningPrayer" class="form-control" />
                <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                <input asp-for="Meeting.ClosingPrayer" class="form-control" />
                <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="btn">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>   
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
